@model imdb.Models.MAPModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseYear" class="control-label"></label>
                <input asp-for="Movie.ReleaseYear" class="form-control" />
                <span asp-validation-for="Movie.ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Plot" class="control-label"></label>
                <input asp-for="Movie.Plot" class="form-control" />
                <span asp-validation-for="Movie.Plot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Poster" class="control-label"></label>
                <input asp-for="Movie.Poster" class="form-control" />
                <span asp-validation-for="Movie.Poster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.Name" class="control-label"></label>
                <select asp-for="Producer.Name" class="form-control" asp-items="ViewBag.ProducerName">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Actor.Name" class="control-label"></label>
                <select multiple asp-for="Actor.Name" class="form-control" asp-items="ViewBag.ActorName">
                    <option disabled>CTRL + Click to select multiple</option>
                </select>
            </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
        </form>
    </div>
    <div class="=col-md-4">@{Html.RenderPartial("_producerCreate");}</div>
    <div class="=col-md-4">@{Html.RenderPartial("_actorCreate");}</div>
</div>

<div>
</div>

